@import url("https://fonts.cdnfonts.com/css/pokemon-solid");

body {
  background-color: #090b1a;
}

#pokemon-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#holder {
  filter: saturate(0%) brightness(200) grayscale(100%);
  max-width: 400px;
  max-height: 400px;
}

#win {
  max-width: 400px;
  max-height: 400px;
}

#holder img {
  filter: drop-shadow(-5px 5px 3px lightgrey);
  max-width: 400px;
  max-height: 400px;
}

#win img {
  filter: drop-shadow(-5px 5px 3px lightgrey);
  max-width: 400px;
  max-height: 400px;
}

#ball {
  visibility: hidden;
}

#ballVid {
  position: absolute;
  width: 700px;
  top: 10px;
  left: -120px;
}
